.systemGradiant {
    background: rgb(255, 248, 244);
    background: linear-gradient(150deg, #fff 50%, rgba(24, 18, 12, 1) 50%);
    color: #cabcb1;
    border: 1px solid #D4C4B5;
    width: 160px;
    height: 90px;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    cursor: pointer;
}